body {
  height: 90vh;
  border: 1px solid #6369b5;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overscroll-behavior: contain;
  overscroll-behavior-y: none;
}

#gameBoard {
  width: 80vmin;
}

#status {
  height: 10vmin;
}
